

record(calcout, "$(P)$(R)neuron-$(name)-sum") {
	field(INPA, "$(P)$(R)bias-$(name)")
	field(INPB, "$(P)$(R)neuron-$(in1)")
	field(INPC, "$(P)$(R)weight-$(w1)")
	field(INPD, "$(P)$(R)neuron-$(in2)")
	field(INPE, "$(P)$(R)weight-$(w2)")
	field(INPF, "$(P)$(R)neuron-$(in3)")
	field(INPG, "$(P)$(R)weight-$(w3)")
	field(INPH, "$(P)$(R)neuron-$(in4)")
	field(INPI, "$(P)$(R)weight-$(w4)")
	field(CALC, "A+B*C+D*E+F*G+H*I")
	field(FLNK, "$(P)$(R)neuron-$(name-next)")
}

